
**/node_modules
**/dist
**/build
**/*.tsbuildinfo
**/.angular
**/.build-cache
**/target
**/.gradle
**/src/main/json/generated/build-info

**/*.md
**/*.log
**/*.tgz

.git
.github
.vscode
!.vscode/template.launch.json
whitepaper
docs
docs-cactus
contribs
images
tools
logs
bin
.tmp
.nyc_output
.DS_Store
coverage

weaver/samples/fabric/satpsimpleasset
examples/cactus-example-supply-chain-frontend/www
examples/cactus-example-carbon-accounting-frontend/www

examples/cactus-example-supply-chain-backend/Dockerfile

.config.json
.npm
.eslintcache
.node_repl_history
.yarn-integrity
.next
.npmrc
